<!DOCTYPE HTML>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/admin-theme/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/admin-theme/assets/css/core.css">
    <link rel="stylesheet" href="~/admin-theme/assets/css/components.css">
    <link rel="stylesheet" href="~/admin-theme/assets/icons/fontawesome/styles.min.css">

    <script type="text/javascript" src="~/admin-theme/lib/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/assets/js/app.min.js"></script>
</head>

<body>
    <div class="page-container">
        <!-- PAGE CONTENT -->
        <div class="content h-100">
            @RenderBody()
        </div>
        <!-- /PAGE CONTENT -->
    </div>
</body>

</html>