@model ResetPasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="card-title">Change Password</h4>
    </div>
</div>

@if (!ViewData.ModelState.IsValid) {
    <div class="alert alert-danger auth-box mx-auto my-auto" role="alert">
        @Html.ValidationSummary()
    </div>
}

@if (ViewBag.Status == "OK") {
    <div class="alert alert-success auth-box mx-auto my-auto" role="alert">
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Change Password
            </div>
            <div class="card-block">
                <p>You can change your password using this form.</p>

                <form asp-controller="Account" asp-action="ChangePassword" method="post">
                    <div class="form-group row">
                        <label class="control-label col-md-4" asp-for="Password"></label>
                        <div class="col-md-5">
                            <span asp-validation-for="Password" class="text-danger small"></span>
                            <input type="password" asp-for="Password" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-4" asp-for="RepeatPassword"></label>
                        <div class="col-md-5">
                            <span asp-validation-for="RepeatPassword" class="text-danger small"></span>
                            <input type="password" asp-for="RepeatPassword" class="form-control" />
                        </div>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-primary">
                            <i class="fa fa-arrow-right position-left"></i>
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.validate.unobtrusive.min.js"></script>
}