@using Microsoft.AspNetCore.Mvc.Rendering
@model BlogPostViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h4 class="card-title text-bold">@Model.PageTitle</h4>

@if (!ViewData.ModelState.IsValid) {
    <div class="alert alert-danger auth-box" role="alert">
        <span asp-validation-summary="ModelOnly" class="small"></span>
    </div>
}

@if (ViewBag.Status == "OK") {
    <div class="alert alert-success auth-box" role="alert">
        <span class="small">
            @ViewBag.Message
        </span>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                @using (Html.BeginForm(Model.Action, "blog", FormMethod.Post, new { @class = "form-horizontal" })) {
                    @Html.AntiForgeryToken()

                    <div class="form-group row">
                        <label class="control-label col-md-3 text-bold">Title</label>
                        <span asp-for="title" class="text-danger small"></span>

                        <div class="col-md-9">
                            <input asp-for="Title" type="text" name="title" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3 text-bold">Content</label>
                        <span asp-validation-for="Content" class="text-danger small"></span>

                        <div class="col-md-9">
                            <textarea asp-for="Content" class="form-control" rows="8" id="editor"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3 text-bold" asp-for="BlogPostCategoryId"></label>
                        <span class="text-danger small" asp-validation-for="BlogPostCategoryId"></span>
                        <div class="col-md-2">
                            <select asp-for="BlogPostCategoryId" asp-items="@Model.BlogPostCategories" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3 text-bold" asp-for="IsCommentsAllowed"></label>
                        <span class="text-danger small" asp-validation-for="IsCommentsAllowed"></span>
                        <div class="col-md-2">
                            <input type="checkbox" asp-for="IsCommentsAllowed" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3 text-bold" asp-for="Password"></label>
                        <span class="text-danger small" asp-validation-for="Password"></span>
                        <div class="col-md-6">
                            <input type="text" class="form-control" asp-for="Password" />
                            <span class="small">
                                You can set a password for your blog post, leave blank for no password.
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-refresh position-left"></i>
                                    Refresh
                                </button>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-arrow-right position-left"></i>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/admin-theme/lib/thirdparty/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace("editor", { height: "350px", extraPlugins: "forms" });
        });
    </script>

}