
@{
    ViewBag.Title = "Blog Posts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h4 class="card-title text-bold">Blog Posts</h4>
    </div>

    <div class="col-lg-6">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("create", "blog", new { area = "admin" })"><i class="fa fa-plus position-left"></i>Add New</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <table class="display datatable table table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/assets/js/pages_datatables.min.js"></script>
    <!-- /PAGE LEVEL SCRIPTS -->
}

@section styles {
    <!-- PAGE LEVEL STYLESHEETS-->
    <link rel="stylesheet" href="~/admin-theme/lib/css/jquery.dataTables.min.css">
    <!-- /PAGE LEVEL STYLESHEETS-->
}