.alert ul {
    text-align: left;
    list-style-type: none;
}

.navbar > .navbar-brand > img {
    height: auto;
    width: auto;
}

.card-header {
    padding: 8px 12px;
}

.btn {
    font-size: 12px;
    font-weight: bold;
}

body,
input,
textarea,
button {
    font-family: "Lato", sans-serif;
}

.btn {
    position: relative;
    font-size: 0.8rem;
    margin: 2px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.form-group-sm {
    margin-bottom: 5px;
}

.card-title {
    margin-bottom: 30px !important;
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media(min-width: 420px) {
    .form-horizontal {
        text-align: left;
        display: table-cell;
        vertical-align: middle;
    }
}