@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="row h-100">
    <div class="col-lg-12">
        <div class="register card auth-box mx-auto my-auto">
            <div class="card-block text-center">
                <div class="user-icon">
                    <i class="fa fa-user-circle-o"></i>
                </div>

                <h4 class="text-light">Register</h4>

                @if (!ViewData.ModelState.IsValid) {
                    <div class="alert alert-danger auth-box mx-auto my-auto" role="alert">
                        <div asp-validation-summary="ModelOnly" class="small"></div>
                    </div>
                }

                @if (ViewBag.Status == "OK") {
                    <div class="alert alert-success auth-box mx-auto my-auto" role="alert">
                        <span class="small">
                            @ViewBag.Message
                        </span>
                    </div>
                }

                <form asp-controller="Auth" asp-action="Register" method="post">
                    <div class="user-details">
                        <span asp-validation-for="Username" class="text-danger small"></span>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="fa fa-user-o"></i>
                                </span>

                                <input type="text" asp-for="Username" class="form-control" placeholder="Username" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <span asp-validation-for="FirstName" class="text-danger small"></span>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-user-md"></i>
                                        </span>

                                        <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span asp-validation-for="LastName" class="text-danger small"></span>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-user-md"></i>
                                    </span>

                                    <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <span asp-validation-for="Password" class="text-danger small"></span>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-key"></i>
                                        </span>

                                        <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <span asp-validation-for="RepeatPassword" class="text-danger small"></span>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-key"></i>
                                        </span>

                                        <input type="password" asp-for="RepeatPassword" class="form-control" placeholder="Repeat Password" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <span asp-validation-for="EmailAddress" class="text-danger small"></span>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>

                                        <input type="text" asp-for="EmailAddress" class="form-control" placeholder="Enter Email Address" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span asp-validation-for="RepeatEmailAddress" class="text-danger small"></span>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>

                                        <input type="text" asp-for="RepeatEmailAddress" class="form-control" placeholder="Repeat Email Address" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>

                    <div class="user-links">
                        <a href="@Url.Action("login", "auth")" class="pull-left">Back To Login</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/admin-theme/lib/js/jquery.validate.unobtrusive.min.js"></script>
}